.About-Paragraph {
  margin-top: 4rem;
}

.About-roi-comp {
	width: 100%;
	text-align: center;
}

.About-values-wrapper {
	margin-top: 4em;
	display: flex;
	padding: 0em;
	flex-direction: row;
	flex-wrap: wrap;
}

.About-values-item {
	padding: 0em 2em 0em 2em;
	margin-bottom: 4em;
	text-align: center;
 	flex: 1 1 20em;
}

.About-values-icon-wrapper {
	display: inline-block;
	width: 125px;
	height: 125px;
	background: #4E5064; 
	-moz-border-radius: 62.5px; 
	-webkit-border-radius: 62.5px; 
	border-radius: 62.5px;
}

.About-values-icon {
	margin-top: 25px;
}