.Footer_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #161414;
	height: 2em;
	line-height: 2em;
/*	position: fixed;*/
	bottom: 0;
	}

.Footer_icons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

	.Footer_icons a {
		padding: 0.25em;
	}