@import url("main.css");

footer.major {
	margin: 4em 0 0 0;
}

ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			height: 2em;
			line-height: 2em;
			padding: 0 0.25em;
		}

			ul.icons li .icon {
				font-size: 1.5em;
			}

				ul.icons li .icon:before {
					font-size: 1em;
				}

				ul.icons li. .icon:hover{
					color: #d13c3c;
				}

#footer {
		background: #161414;
		padding: 0em 0;
		text-align: left;
	}

		#footer .icons .icon.alt {
			text-decoration: none;
		}

			#footer .icons .icon.alt:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
				color: rgba(1, 1, 1, 0.9) !important;
			}