$top-space: 5rem;

.Header-container {
  display: grid;
  justify-items: center;
  background-color: inherit;
  grid-template-columns: 1fr auto 1fr;

  position: fixed;
  top: 0;
  padding-left: $top-space/3;
  padding-top: $top-space/3;
  padding-bottom: $top-space/3;
  padding-right: $top-space/3;
  width: calc(100vw - #{$top-space});
  z-index: 5;
}

.Header-logo {
  height: 50px;
  width: 50px;
  grid-column-start: 2;
}

.Header-logo-left {
  // center
  grid-column-start: 1;
  margin-right: auto;
}

.Header-logo-centered {
  // center
  grid-column-start: 2;
  margin: auto;
}

.Header-nav {
	list-style: none;
  display: flex;
  flex-direction: row;
  grid-column-start: 3;
  margin-left: auto;
}

.Header-nav-item {
	text-align: center;
	font-size: 1.5em;
	a {
	  font-family: soleil;
	  font-style: normal;
	  font-weight: 200;
	  padding: 0 1rem;
		&:hover{
			background: rgba(255, 255, 255, 0.3);
		}
	}
}
