@import url("main.css");

.Header_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #161414;
	height: 2em;
	left: 0;
	line-height: 2em;
	position: fixed;
	top: 0;
	width: 100%;
}

.Header_logo {
	margin: 0.5em;
	height: 35px;
	width: 35px;
}

.Header_nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 0.2em;
}

	.Header_nav a {
		padding: 0 0.3em;
		border-bottom: none;
	}
