$top-space: 5rem;

.Header-container {
  display: grid;
  justify-items: center;
  background-color: inherit;
  grid-template-columns: 1fr auto 1fr;

  position: fixed;
  top: 0;
  padding-left: $top-space/3;
  padding-top: $top-space/3;
  padding-bottom: $top-space/3;
  padding-right: $top-space/3;
  width: calc(100vw - #{$top-space});
  z-index: 5;
}

.Header-logo {
  height: 50px;
  width: 50px;
  grid-column-start: 2;
}

.Header-logo-left {
  // center
  grid-column-start: 1;
  margin-right: auto;
}

.Header-logo-centered {
  // center
  grid-column-start: 2;
  margin: auto;
}

.Header-nav {
	list-style: none;
  display: flex;
  flex-direction: row;
  grid-column-start: 3;
  margin-left: auto;
}

.Header-nav-item {
  text-align: center;
  font-size: 1.5em;
  a {
    text-decoration: none;
    font-family: soleil;
    font-style: normal;
    font-weight: 200;
    padding: 0 0.5rem 0.2rem 0.7rem;
    &:hover{
      background: rgba(255, 255, 255, 0.5);
      color: inherit;
    }
  }
}

.Milestone-nav {
  display: none;
  position: absolute;
  right: 12rem;
  bottom: 1rem;
}

.Services:hover .Milestone-nav {
  display: flex;
  list-style: none;
  flex-direction: row;
  grid-column-start: 3;
  margin-left: auto;
  opacity: 0.6;
}

.Milestone-nav-item {
  text-align: center;
  font-size: 1.5em;
  a {
    font-family: soleil;
    font-style: normal;
    font-weight: 200;
    padding: 0 1rem;
    &:hover{
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

.Contact {
  a {
    background: rgba(255, 255, 255, 0.3);
    padding: 0 0.5rem 0.2rem 0.7rem;
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

.Header-nav-mobile {
  display: none;
  position: absolute;
  right: 10px;
  top: 20px;
  text-align: right;
}

.Header-menu {
  height: 32px;
  width: 32px;
  padding: 0.3rem 0.3rem 0rem 0.4rem;
}
  .Header-nav-mobile:hover {
    background-color: inherit;
  }

  .Header-nav-mobile:hover .Header-dropdown-mobile {
    display:block;
  }

.Header-dropdown-mobile {
  position: absolute;
  display: none;
  background-color: inherit;
  list-style: none;
  right: 0px;
  top: 27px;
}

.Header-dropdown-item {
  text-align: right;
  padding: 0.3rem 0.3rem 0.3rem 0.5rem; 
}
  .Header-dropdown-item h4 {
    font-size: 1.5rem; 
  }

  .Header-dropdown-item:hover {
      background: rgba(255, 255, 255, 0.5);
    }

  .Header-dropdown-item a {
    text-decoration: none;
  }

    .Header-dropdown-item a:hover {
      color: inherit;
    }

.Contact-mobile {
  background: rgba(255, 255, 255, 0.3);
  padding: 0.3rem 0.3rem 0.3rem 0.5rem; 
  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

@media screen and (max-width: 560px) {
  .Header-nav {
    display: none;
  }

  .Header-nav-mobile {
    display: inline-block;
  }
}