#landing {
/*	position: absolute;
	width: 1440px;
	height: 850px;
	left: 0px;
	top: 0px;*/
	// background-attachment: fixed;
	background-image: url("../images/background.png");
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	position: relative;
	text-align: center;
}

.landing-container {
	position: absolute;
	top: 10%;
	bottom: 0px;
	left: 50%;
	width: 1000px;
	transform: translateX(-50%);
}

.title {
	text-align: left;
	position: absolute;
	top: 50%;
	left: 0;
	width: 75%;
	transform: translateY(-50%);
	color: #FFFFFF;
}

#arrow {
	color: white;
	background-color: transparent;
	border: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 12px;
}

#arrow:hover {
	cursor: pointer;
	-webkit-animation: 0.6s ease 0s normal forwards 1 fadein;
    animation: 0.6s ease 0s normal forwards 1 fadein;
}

#arrow:focus {outline:0;}

@keyframes fadein{
    0%{opacity:1}
    100%{opacity:0.4}
}

@-webkit-keyframes fadein{
    0%{opacity:1}
    100%{opacity:0.4}
}

#chart {
	display: flex;
	justify-content: center;
}

.chart-caption {
	margin-top: 8rem;
}

.what-we-do {
	margin-top: 1rem;
}

.consistent-earnings {
	margin-top: 8rem;
}

.quote-intro {
	margin-top: 8rem;
}

.statistics {
	margin-top: 8rem;
	margin-bottom: 8rem;
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	justify-content: space-around;
}

.statistic {
}

.figure {
	text-align: center;
	color: #FA7268;
	text-shadow: none;
}

.caption {
	width: 240px;
	text-align: center;
}

.quotes {
	margin-top: 2rem;
	margin-bottom: 8rem;
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	justify-content: space-around;
}

.quote {
	background-color: transparent;
}

.quote-background {
	position: absolute;
	margin-left: 0;
	z-index: 1;
}

.quote-content {
	background-color: transparent;
	margin-top: 10rem;
	position: relative;
	width: 400px;
	text-align: center;
	z-index: 2;
}

.author {
	width: 400px;
	text-align: center;
}

	.author .author-name {
		color: #FA7268;
		line-height: 1rem;
		text-shadow: none;
	}

	.author .author-title {
		color: rgba(255, 255, 255, 0.8);
		line-height: 1rem;
		text-shadow: none;
	}