$background-color: white;
$foreground-color: #272832;
$bold-color: #272832;

#landing {
/*	position: absolute;
	width: 1440px;
	height: 850px;
	left: 0px;
	top: 0px;*/
	// background-attachment: fixed;
	background-image: url("../images/background.png");
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	position: relative;
	text-align: center;
}

.landing-container {
	position: absolute;
	top: 10%;
	bottom: 0px;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
}

.title {
	text-align: left;
	padding-left: 0em;
	position: absolute;
	top: 50%;
	left: 10%;
	width: 60%;
	transform: translateY(-50%);
	color: #FFFFFF;
	text-shadow: none;
}

#index-gradient {
	height: 166px;
	background: linear-gradient(180deg, #000000 -64.35%, #000000 -2.72%, rgba(39, 40, 50, 0) 100%), #272832;
}

#index-page {
	background-color: #272832;
	h1, h2, h3, h4, h5, h6, p, b, a {
		color: $background-color;
	}
	.figure {
		color: #FA7268;
	}
	.author-name {
		color: #FA7268;
	}
	.author-title {
		color: rgba(255, 255, 255, 0.8);
	}
	.quote-left, .quote-right {
		color: rgba(255, 255, 255, 0.3);
	}
	bottom: 0;
}

#arrow {
	color: white;
	background-color: transparent;
	border: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 12px;
}

#arrow:hover {
	cursor: pointer;
	-webkit-animation: 0.6s ease 0s normal forwards 1 fadein;
    animation: 0.6s ease 0s normal forwards 1 fadein;
}

#arrow:focus {outline:0;}

@keyframes fadein{
    0%{opacity:1}
    100%{opacity:0.4}
}

@-webkit-keyframes fadein{
    0%{opacity:1}
    100%{opacity:0.4}
}

#chart {
	display: flex;
	justify-content: center;
}

.chart-caption {
	margin-top: 4rem;
}

.what-we-do {
	margin-top: 1rem;
}

.consistent-earnings {
	margin-top: 4rem;
}

.statistics {
	margin-top: 4rem;
	margin-bottom: 8rem;
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.statistic {
	padding: 4em 1em 2em 1em;
	text-align: center;
	flex: 1 1 20em;
}

.figure {
	text-align: center;
	text-shadow: none;
}

.caption {
	text-align: center;
	width: 100%;
}

.quote-intro {
	margin-top: -4rem;
}

.quotes {
	margin-top: 0rem;
	margin-bottom: 6rem;
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.quote {
	background-color: transparent;
	margin: 0em 3em 0em 3em;
	text-align: center;
	flex: 1 1 25em;
}

.quote-background {
	margin-top: 8em;
	position: relative;
	width: 100%;
}

.quote-left {
	position: absolute;
	left: -10px;
	top: 30px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 200px;
	line-height: 25px;
	z-index: 1;
}

.quote-right {
	position: absolute;
	right: -10px;
	bottom: -0.5em;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 200px;
	line-height: 25px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(-180deg);
	z-index: 2;
}

.quote-content {
	text-align: center;
	margin-top: 8rem;
	position: relative;
	width: 100%;
	z-index: 3;
}

.author {
	margin-top: -0.75em;
	text-align: center;
	width: 100%;
}

	.author .author-name {
		line-height: 1rem;
		text-shadow: none;
	}

	.author .author-title {
		line-height: 1rem;
		text-shadow: none;
	}

@media screen and (max-width: 800px) {
  .title {
    font-size: 7.5em;
    line-height: 1em;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 6.5em;
    line-height: 1em;
  }

  .quote {
		background-color: transparent;
		margin: 0em 0em 0em 0em;
		text-align: center;
		flex: 1 1 25em;
	}

	.quote-right {
		bottom: -0.5em;
	}
}

@media screen and (max-width: 500px) {
  .title {
  	left: 8%;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 5.2em;
		line-height: 1em;
		width: 90%;
		text-shadow: none;
  }

  .quote {
		background-color: transparent;
		margin: 0em 0em 0em 0em;
		text-align: center;
		flex: 1 1 25em;
	}

	.quote-right {
		bottom: -0.9em;
	}
}