.Industry-Paragraph {
	position: relative;
  margin-top: 4rem;
}

.Industry-Title-Paragraph {
  width: auto;
  height: auto;
  flex: calc(100% - 50rem);
  min-width: 300px;
}

.Industry-Container {
	margin-top: 4rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
}

.Industry-Without-Limits {
  position: relative;
}

.Sneaker-Stock {
  width: 40rem;
  height: auto;
	flex-grow:0;
  flex-shrink:1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -12rem;
}

.Index-Chart {
  width: 60%;
  min-width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.Industry-Chart {
  width: 50%;
  min-width: 300px;
  margin: auto;
  margin-top: -4rem;
  margin-bottom: 12rem;
}

.Industry-PieChart {
  width: 75%;
  min-width: 300px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 800px) {
  .Industry-Title {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media screen and (max-width: 900px) {
  .Sneaker-Stock {
    margin-bottom: 0rem;
  }
}