#Interest_Form_interest-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100%;
}

#left-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  align-content: start;
  padding-right: 20%;
}

#Interest_Form-follow-us {
  margin-top: 10%;
  margin-bottom: 3%;
  width: 100%;
}

#Interest_Form-social-media {
  margin-top: 10%;
}

#right-bar {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  padding-bottom:10%;
}

#interest-form {
  width: 100%;
}

#Interest_Form-data > label {
  width: 100%;
  flex-wrap: wrap;
}

#Interest_Form-data > h4 {
  margin-top: 3rem;
}

#Interest_Form-data p {
  width: 100%;
}

#Interest_Form-data {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#Interest_Form-send {
  p {
    margin: 0;
  }
  background-color: inherit;
  margin-top: 2%;
  border: 1px solid white;
  width: 12rem;
  height: 5.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: calc(100% - 12rem);
}

// .Interest_Form-reply {
//   p {
//     margin: 0;
//   }
//   background-color: inherit;
//   margin-top: 2%;
//   border: 1px solid white;
//   height: 5.5rem;
//   justify-content: center;
//   display: flex;
//   align-items: center;
// }
