.Report-Title {
	margin-top: 5rem;
	position: relative;
	z-index: 2;
}

.Report-Title h1 {
	font-size: 7rem;
	color: rgba(255, 255, 255, 1);
	text-shadow: none;
}

.Report-Subtitle {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.Report-box {
	width: 100%;
	height: 60rem;
	background: #484957;
	margin-top: 9rem;
	position: absolute;
	z-index: 1;
}

.Report-Paragraph {
  margin-top: 4rem;
  position: relative;
  z-index: 3;
}

.Report-line {
	margin-top: 6rem;
}

.Report-Photo-Container {
	margin-top: 4rem;
	margin-bottom: 4rem;
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 4;
}

.Report-Title-Photo-Container {
	height: 60rem;
  	position: relative;
	z-index: 5;
}

.Report-Photo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.Court-Purple-Charts {
	margin-top: 4rem;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.Report-Chart-Photo {
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	height: 280px;
}

.Air-Jordan-Chicago-Container {
	height: 40rem;
}

.The-Last-Dance-Container {
	margin-bottom: 4rem;
	height: 20rem;
}

.Court-Purple-Demand-Container {
	margin: 0px;
	height: 80rem;
}

.Court-Purple-Volume-Container {
	margin: 0px;
	height: 30rem;
}

.Report-Bid-Ask-Chart {
	height: 60rem;
}

@media screen and (max-width: 800px) {
	.Report-Title h1 {
		font-size: 5rem;
		line-height: 5rem;
	}

	.Report-Chart-Photo {
		height: 240px;
	}
}