.Milestone-Paragraph {
    margin-top: 6rem;
}

.Pine-Green-Charts {
	margin-top: 4rem;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.Chart-Photo {
	width: 500px;
}

@media screen and (max-width: 800px) {
	.Milestone-Title {
		font-size: 6rem;
		line-height: 6rem;
	}
}

@media screen and (max-width: 1300px) {
	.Chart-Photo {
		width: 400px;
	}
}

@media screen and (max-width: 600px) {
	.Chart-Photo {
		width: 300px;
	}
}