.Milestone-Paragraph {
    margin-top: 10rem;
}

.Pine-Green-Charts {
	margin-top: 4rem;
	margin-bottom: 4rem;
	display: flex;
    justify-content: center;
    height: 40rem;
}

.Chart-Photo {
    width: 60%;
	height: 100%;
	object-fit: contain;
}