@import './normalize';
@import url("https://use.typekit.net/scz2cjr.css");

$background-color: #272832;
$foreground-color: #FFFFFF;

html {
  font-size: 62.5%;
  // height: 100%;
}

body {
  // height: 100%;
  background: $background-color;
  display: flex;
  flex-direction: column;
}

/* start: from Layout.js */
main {
  // flex: 1 0 auto;
  flex-grow: 1;
}

#site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* end: from Layout.js */

h1, h2, h3, h4 {
  margin: 0;
}

// Title font
h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 8rem;
  line-height: 10rem;
  color: $background-color;
  margin-top: -3rem;

  text-shadow: -0.8px 0 white, 0 0.8px white, 0.8px 0 white, 0 -0.8px white;
}

h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 3.5rem;
  color: $foreground-color;
}

// Font that looks like body font but is slightly smaller
h4 {
  font-family: soleil;
  font-style: normal;
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 2.1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $foreground-color;
}

// Body font
p {
  font-family: soleil;
  font-style: normal;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: $foreground-color;
}

input, textarea {
  // margin-left: 1rem;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  border: none;
  border-bottom: 1px solid $foreground-color;
  background-color: $background-color;
  width: 70%;
  color: $foreground-color;
  &::placeholder {
    color: $foreground-color;
    opacity: 0.64;
  }
}

textarea {
  height: 10vh;
}

a {
  text-decoration: none;
  color: $foreground-color;
}

.button {

}

.button.primary {
  text-decoration: underline;
  border-bottom: dotted 1px;
}
