@import './normalize';
@import url("https://use.typekit.net/scz2cjr.css");

$background-color: white;
$foreground-color: #272832;
$bold-color: #272832;

html {
  font-size: 62.5%;
  // fix for scroll bar offset
  width: 100vw;
  overflow-x: hidden;
}

body {
  // height: 100%;
  background: $background-color;
  display: flex;
  flex-direction: column;
}

/* start: from Layout.js */
main {
  // flex: 1 0 auto;
  flex-grow: 1;
}

#site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* end: from Layout.js */

h1, h2, h3, h4, h5 {
  margin: 0;
}

// Title font
h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 8rem;
  line-height: 8rem;
  color: $bold-color;
  margin-top: -2rem;

  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h2 {
  font-family: soleil;
  font-style: normal;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.5rem;
  margin-top: 3rem;
  color: $bold-color;
}

h3 {
  font-family: soleil;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: $bold-color;
}

// Font that looks like body font but is slightly smaller
h4 {
  font-family: soleil;
  font-style: normal;
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 2.1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $foreground-color;
}

// Font that looks like h1 but is slightly smaller
h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  line-height: 8rem;
  color: $bold-color;
  margin-top: -3rem;
}

// Font that looks like h1 but is way smaller
h6 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 3rem;
  color: $bold-color;
  margin-top: -3rem;
}

// Body font
p {
  font-family: soleil;
  font-style: normal;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: $foreground-color;
  margin-bottom: 3rem;
}

input, textarea {
  // margin-left: 1rem;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  border: none;
  border-bottom: 1px solid $foreground-color;
  background-color: $background-color;
  width: 70%;
  color: $foreground-color;
  &::placeholder {
    color: $foreground-color;
    opacity: 0.64;
  }
}

textarea {
  height: 10vh;
}

b {
  color: $bold-color;

}

i {
  color: $bold-color;
}

a {
  color: $bold-color;
}

a:hover {
  color: #FA7268;
}

.button.primary {
  text-decoration: underline;
  border-bottom: dotted 1px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
}
